/* ------------------------------------------------------------------ */

/* a. Webfonts and Icon fonts
 ------------------------------------------------------------------ */

/* @import url("fonts.css");
@import url("fontello/css/fontello.css"); */

/* @import url('font-awesome/css/font-awesome.min.css'); */
body {
  background: #0f0f0f;
  font-size: 100%;
}

header {
  background: #161415 url(/images/background.png) no-repeat top center;
}

#stack {
  background: #161415 url(/images/prism.png) repeat;
}

/* header .banner-text h1 {
    background-image: url(../images/extra_clean_paper.png);
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
} */

#resume {
  background: #161415 url(/images/dark-honeycomb.png) repeat;
  background-attachment: fixed;
}
