@import '../base.scss';

/**============================================
 *               Gallery
 *=============================================**/

#decor,
#gallery {
  h3 {
    font: 2em/1.5em $heading2;
    text-align: end;
  }

  p {
    font: 1em/1.1em $heading1;
    text-align: end;
  }

  #artwork {
    background-color: $composition4;
    background-image: radial-gradient($composition5, $composition4);
    border: 1px solid $composition8;
    @include standardbox;
  }

  @media (max-width: 688px) {
    .carousel-item > img {
      max-height: 146px;
    }
  }
}
