/**========================================================================
 *                           Colors
 *========================================================================**/

$textPrimary: #fff;
$textSecondary: rgba(255, 255, 255, 0.7);
$textdisabled: rgba(255, 255, 255, 0.5);

$composition0: black;
$composition1: lighten($composition0, 10);
$composition2: lighten($composition1, 10);
$composition3: lighten($composition2, 10);
$composition4: lighten($composition3, 10);
$composition5: lighten($composition4, 10);
$composition6: lighten($composition5, 10);
$composition7: lighten($composition6, 10);
$composition8: lighten($composition7, 10);
$composition9: lighten($composition8, 10);

$Carbon: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
  linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
  linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
  linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
  linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
  linear-gradient(
    #1d1d1d 25%,
    #1a1a1a 25%,
    #1a1a1a 50%,
    transparent 50%,
    transparent 75%,
    #242424 75%,
    #242424
  );
// background-color: #131313;
// background-size: 20px 20px;

$hightlight-color: rgb(210, 0, 0);

/**========================================================================
 *                           Override Defaults
 *========================================================================**/
// Override default variables before the import
$body-bg: $composition1;
$accordion-icon-active-color: $hightlight-color;
$accordion-bg: $composition9;
$primary: red;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-shadows: true;
$enable-gradients: true;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

/**========================================================================
 *                           Standards
 *========================================================================**/
$border-style: outset;
$shadow: 0.5em 0.5em 1em $composition0;

$heading1: Helvetica, Arial, sans-serif;
$heading2: Garamond, serif;
$bodytext: Garamond, serif;

/**========================================================================
 *                           Mixin
 *========================================================================**/

@mixin standardbox {
  border: 1px solid $composition8;
  box-shadow: 8px 8px 8px $composition0;
  border-style: $border-style;
}

/**========================================================================
 *                           Layout
 *========================================================================**/
// .container {
//   max-width: '100%'; //This will make container to take screen width
// }

$assetImage: '../images';

/**======================
 *    According
 *========================**/

.accordion-button.collapsed {
  background: $composition8;
  color: $composition1;
  transition: all 1s ease-in-out;
}
.accordion-button.open {
  background: $composition7;
  color: $composition2;
  box-shadow: none;
  border-style: none;
}

.accordion-body {
  box-shadow: none;
  transition: all 1s ease-in-out;
  // border-style: $border-style;
}

.accordion-button {
  box-shadow: $shadow;
  border-style: $border-style;
  transition: all 1s ease-in-out;
}
// .accordion-button.active {
//   color: red;
// }
// .accordion-header {
//   color: red;
// }

.accordion-button:focus {
  z-index: 3;
  border-color: $hightlight-color;
  background: $composition9;
  outline: 0;
  box-shadow: $shadow;
  transition: all 1s ease-in-out;
}

.accordion-button:not(.collapsed) {
  color: $composition0;
  background-color: $composition9;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
  transition: all 1s ease-in-out;
}

/**========================================================================
 *                           Layout
 *========================================================================**/

/**============================================
 *               Header
 *=============================================**/
header {
  height: 800px;
  width: 100%;
  background-size: cover !important;

  #banner {
    padding: 200px 0px;
    text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.9);

    .banner {
      border: rgba(0, 0, 0, 0.1);
      background: rgba(0, 0, 0, 0.4);
      box-shadow: 0.6em 0.6em 1em $composition0;
      border-style: $border-style;
    }

    h1 {
      font: bold 4em/1em $heading1;
      color: $composition9;
    }
    h4 {
      font: $heading2;
      color: $composition9;
      span,
      a {
        color: $composition9;
      }
    }

    #keyword {
      display: flex;
      justify-content: center;
      list-style-type: none;
      font: 1.5em/2em $heading2;
      color: $composition9;
    }

    .social {
      font-size: 2em;
      text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.9);
      li {
        display: inline-flex;
        a {
          color: $composition8;
          transition: all 0.5s ease-in-out;
          &:hover {
            color: $hightlight-color;
          }
        }
      }
    }
  }
}

/**============================================
 *               Combined Sections
 *=============================================**/

#about,
#resume,
#gallery,
#decor {
  overflow: hidden;
  border: 1px solid $composition8;
  box-shadow: 0.5em 0.5em 1em $composition0;
  border-style: $border-style;

  h1 {
    font: bold 2em/2em $heading1;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.9);
    span {
      border-bottom: 3px solid $composition2;
      border-bottom-style: groove;
    }
  }
  h2 {
    font: bold 2em/2em $heading2;
  }
  h3 {
    font: 25px/30px $heading1;
  }
  h4 {
    font: 20px/25px $heading2;
  }
  h5 {
    font: italic 16px/20px $heading1;
  }

  p {
    color: $composition2;
    line-height: 30px;
    font: $bodytext;
  }
}

/**============================================
 *               About
 *=============================================**/

#about {
  background: $composition5;
  background-image: radial-gradient($composition7, $composition5);

  h2 {
    color: $composition9;
  }

  p {
    color: $composition8;
  }

  .profile-pic {
    @include standardbox;
  }
  .bio {
    @include standardbox;
    background: $composition2;
  }
}

/**============================================
 *               Resume
 *=============================================**/

#resume {
  #education,
  #work,
  #craft {
    background-color: $composition4;
    background-image: radial-gradient($composition5, $composition4);
    border: 1px solid $composition8;
    @include standardbox;
  }

  .barskill {
    width: 100%;
    // background-color: $composition4;
    background-image: radial-gradient($composition5, $composition4);
    box-sizing: border-box;
    padding-left: 0px;
    box-shadow: 1px 1px 2px $composition0;
    border: 1px solid $composition1;
  }
  .skills {
    text-align: right;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 0px;
    color: white;
  }
  .slabel {
    color: $composition9;
    font: $bodytext;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
  }
}

/**============================================
 *               Gallery
 *=============================================**/

#decor,#gallery {
  #artwork {
    background-color: $composition4;
    background-image: radial-gradient($composition5, $composition4);
    border: 1px solid $composition8;
    @include standardbox;
  }
  @media (max-width: 688px) {
    .carousel-item > img {
      max-height: 146px;
    }
  }
}


/* ------------------------------------------------------------------ */
/* h. Contact Section
/* ------------------------------------------------------------------ */

#contact {
  background: $composition1;
  color: $composition2;

  a,
  a:visited {
    color: $hightlight-color;
  }

  a:hover,
  a:focus {
    color: #fff;
  }

  h1 {
    font: 18px/24px $heading1;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #ebeeee;
    &:before {
      font-family: 'FontAwesome';
      content: '\f0e0';
      padding-right: 10px;
      font-size: 94px;
      line-height: 94px;
      float: left;
      color: $hightlight-color;
    }
  }

  h4,
  h5 {
    font: 12px/24px $heading2;
    color: #ebeeee;
  }
  .contactbuttons a {
    display: flex;
    justify-content: center;
  }
}

/**============================================
 *               Footer
 *=============================================**/

footer {
  background: $composition1;
  color: $composition6;
  text-align: center;
  a,
  a:visited {
    color: #525252;
  }
  a:hover,
  a:focus {
    color: $hightlight-color;
    transition: all 1s ease-in-out;
  }

  .social-links {
    font-size: 2em;
    li {
      display: inline-flex;
      justify-content: center;
      color: $hightlight-color;
    }
  }



  .copyright {
    display: flex;
    justify-content: center;
    color: $composition5;
    &:before {
      content: '\2022';
    }
    &:first-child:before {
      display: none;
    }
  }
}
